@use "sass:math";

$font-family-custom: "Quicksand", sans-serif, -apple-system, blinkmacsystemfont,
    "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@use 'vuetify/_settings' with ($body-font-family: $font-family-custom,
    $border-radius-root: 6px,

    // 👉 Global border radius
    $rounded: ("sm": 4px,
        "lg": 12px,
        "xl": 30px,
    ),

    // 👉 Shadow
    $shadow-key-umbra-opacity: var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.05)),
    $shadow-key-penumbra-opacity: var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.05)),
    $shadow-key-ambient-opacity: var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.05)),

    // 👉 Typography
    $typography: ("h1": ("size": 4.5rem,
            "weight": 500,
            "line-height": 5rem,
            "letter-spacing": normal),
        "h2": ("size": 3rem,
            "weight": 500,
            "line-height": 3.5rem,
            "letter-spacing": normal),
        "h3": ("size": 2rem,
            "weight": 500,
            "line-height": 2.5rem),
        "h4": ("size": 1.5rem,
            "weight": 500,
            "line-height": 2rem,
            "letter-spacing": normal),
        "h5": ("size": 1.25rem,
            "weight": 500,
            "line-height": 1.75rem),
        "h6":("size": 0.9375rem,
            "line-height": 1.3125rem,
            "letter-spacing": normal),
        "body-1":("size": 1rem,
            "line-height":1.25rem,
            "letter-spacing": normal),
        "body-2": ("size": 0.8125rem,
            "line-height": 1.25rem,
            "letter-spacing": normal),
        "subtitle-2": ("line-height": 1.32rem,
            "letter-spacing": 0.0063rem),
        "button": ("size": 0.9375rem,
            "weight": 500,
            "line-height": 1.125rem,
            "letter-spacing": 0.0269rem,
            "text-transform": capitalize),
        "caption":("size": 0.6875rem,
            "line-height": 0.875rem,
            "letter-spacing": normal),
        "overline": ("line-height": 2.66rem,
            "letter-spacing": 0.0625rem,
        )),

    // 👉 Alert
    $alert-title-font-size: 1.125rem,
    $alert-title-line-height: 1.5rem,
    $alert-border-opacity: 0.38,
    $alert-prepend-margin-inline-end: 0.625rem,

    // 👉 Avatar
    $avatar-height: 38px,
    $avatar-width: 38px,

    // 👉 Badge
    $badge-dot-height: 8px,
    $badge-dot-width: 8px,
    $badge-min-width: 24px,
    $badge-height: 1.5rem,
    $badge-font-size: 0.8125rem,
    $badge-border-radius: 12px,
    $badge-border-color: rgb(var(--v-theme-surface)),

    // 👉 Chip
    $chip-font-size: 0.9375rem,
    $chip-font-weight: 500,
    $chip-label-border-radius: 0.25rem,
    $chip-height: 30px,
    $chip-padding-ratio: 1.7 + math.div(2, 3),

    // 👉 Card
    $card-title-font-size: 1.25rem,
    $card-text-font-size: 1rem,
    $card-subtitle-font-size: 0.9375rem,
    $card-title-line-height: 2rem,
    $card-text-padding: 24px,
    $card-text-line-height: 1.5,
    $card-item-padding: 24px,
    $card-subtitle-opacity: 1,
    $card-elevation: 18,
    $card-hover-elevation: 8,
    $card-title-overflow-wrap: normal,
    $card-title-white-space: normal,
    $card-title-padding: 24px,

    // 👉 Button
    $button-height: 38px,
    $button-padding-ratio: 1.9,
    $button-elevation: ("default": 10,
        "hover": 20,
        "active": 10),
    $button-icon-font-size: 0.9375rem,

    // 👉 Dialog
    $dialog-card-header-padding: 20px 24px 0,
    $dialog-card-header-text-padding-top: 20px,
    $dialog-card-text-padding: 20px 24px 20px,
    $dialog-elevation: 18,

    // 👉 Expansion panel
    $expansion-panel-title-padding: 24px,
    $expansion-panel-color: rgba(var(--v-theme-primary), var(--v-medium-emphasis-opacity)),
    $expansion-panel-active-title-min-height: 48px,
    $expansion-panel-title-min-height: 48px,
    $expansion-panel-text-padding: 0 18px 12px,

    // 👉 Field
    // body font size
    $field-font-size: 0.9375rem,

    // 👉 List
    $list-density: ("default": 0,
        "comfortable": -1.5,
        "compact": -2.5),
    $list-border-radius: 6px,
    $list-item-padding: 4px 20px,
    $list-item-two-line-padding: 12px 20px,
    $list-item-three-line-padding: 16px 20px,
    $list-item-icon-margin-end: 10px,
    $list-item-icon-margin-start : 10px,
    $list-subheader-font-weight: 500,

    // 👉 Label
    $label-font-size: 0.9375rem,

    // 👉 Menu
    $menu-elevation: 6,

    // 👉 Pagination
    $pagination-item-margin: 0.1875rem,

    // 👉 ProgressLinear
    $progress-linear-background-opacity: 0.08,

    // 👉 Select
    $select-chips-margin-bottom: ("default": 1,
        "comfortable": 1,
        "compact": 1),

    // 👉 Snackbar
    $snackbar-background: rgb(var(--v-tooltip-background)),
    $snackbar-color: rgb(var(--v-theme-on-primary)),
    $snackbar-font-size: 0.9375rem,

    // 👉 Tabs
    $tabs-height: 42px,

    // 👉 Tooltip
    $tooltip-background-color: rgb(var(--v-tooltip-background)),
    $tooltip-font-size: 0.9375rem,
    $tooltip-padding: 4.5px 13px,

    // 👉 Timeline
    $timeline-dot-size: 34px,
    $timeline-dot-divider-background: rgba(var(--v-border-color), 0.08),


    // 👉 Ripple
    $ripple-animation-transition-in: (transform .4s cubic-bezier(0.3, 0.6, 0.2, 1), opacity .1s cubic-bezier(0.3,
            0.6,
            0.2,
            1)),
    $ripple-animation-transition-out: opacity .6s ease-in-out,
    $ripple-animation-visible-opacity: 0);

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');